/* Setting up background */
body {
  background-color: white;
}

/* Formatting Text */
h1{
  color:black;
  text-decoration: overline;
  font-family: Helvetica, Arial, sans-serif;
  /* opacity: 0.5; */
}
h2{
  color:green;
  line-height: 0.5;
  font-family: Helvetica, Arial, sans-serif;
  /* opacity: 0.5; */
}
p{
  color: black;
}

/* Setting up columns */
* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Highlighting stuff in yellow when you hover over it for no reason */
p:hover {
       background-color: yellow;
}
